<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/json-formatter/json-formatter.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
    <div style="text-align: center;margin: 50px 0 0 0;position: fixed;bottom: 10px;right: 20px;">
      <p>Made with <img src="/images/lightsaber.png" alt="Force" style="display: inline;height: 26px;vertical-align: bottom;"> By
        <a href="https://github.com/Gh05t-PL">
          <img src="/images/Ghost.svg" alt="Ghost" style="display: inline;height: 26px;vertical-align: bottom;">
        </a>
      </p>
    </div>
  </body>
</html>
