<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/json-formatter/json-formatter.css' />
  </head>
  <body>
    {% block body %}{% endblock %}

  </body>
</html>
